.home-container {
    display: flex;
    flex-direction: column; /* Organiza os elementos em coluna */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    height: 100vh; /* Ocupa toda a altura da tela */
    text-align: center; /* Centraliza o texto */
    /* background-color: #bdbdbd9c; Cor de fundo clara */
    position: relative;
    z-index: 1; /* Para garantir que o conteúdo esteja acima das partículas */
    padding: 20px;
  }
  .home-container h1 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 60px;
    color: black;
    text-shadow: 
    -1px -1px 0 rgb(250, 250, 250),  
    1px -1px 0 rgb(0, 0, 0),  
    -1px 1px 0 #6838d8,  
    1px 1px 0 rgba(0, 0, 0, 0.158); /* Contorno preto */
  }
 
  .button-container {
    display: flex; /* Usa flexbox para organizar os botões */
    gap: 20px; /* Espaçamento entre os botões */
    margin-top: 20px; /* Espaço acima dos botões */
  }
  
  .button {
    padding: 10px 20px;
    background-color: #0a0d0f;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  .button:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
    transform: translateY(-5px); /* Levanta o botão levemente */
    box-shadow: 0 36px 12px rgba(0, 0, 0, 0.2); /* Sombra mais intensa */
  }
  