

.page-content-Musical {
    display: flex;
    flex-direction: column; /* Organiza os elementos em coluna */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    height: 100vh; /* Ocupa toda a altura da tela */
    text-align: center; /* Centraliza o texto */
    position: relative; /* Para permitir o posicionamento absoluto do botão */
    background-color: #4EA1AA;
  }
  

  

  