

/* Estilos globais */



html {
  scroll-behavior: smooth;
}

.page-content-Programming {
  background-color: #a549e2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  min-height: 100vh; /* Garante que a seção ocupe a altura total */
  
}

/* Botão de voltar ao estilo anterior */
.back-button-programming {
  position: fixed; /* Mantém a posição fixa na página */
  top: 20px;
  left: 20px;
  font-size: 28px; /* Ajuste o tamanho da seta */
  color: #333;
  text-decoration: none;
  background: none; /* Remove fundo */
  border: none; /* Remove borda */

}

.back-button-programming:hover {
  color: #007bff; /* Cor ao passar o mouse */
}

/* Estilos para o conteúdo da página */
.page-content-Programming {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar ul li {
  font-size: 18px;
  font-weight: bold;
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #007bff;
}

/* Seções do Dropdown */
.dropdown-section {
  margin: 20px 0;
  width: 100%;
  max-width: 800px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.dropdown-header h2 {
  margin: 0;
  text-align: center;

}

.dropdown-header:hover {
  /* background-color: #e2e6ea; */
  text-shadow: 1px 1px 2px wheat;
}
.dropdown-content {
padding: 20px;
}

.dropdown-content,
.dropdown-content-skills {
  padding-left: 20px;
  margin-top: 10px;
}

.dropdown-content h3,
.dropdown-content-skills h3 {
  margin: 10px 0;
}
.dropdown-content p,
.dropdown-content-skills p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.87);
}

.dropdown-content a,
.dropdown-content-skills a {
  text-decoration: none; /* Remove sublinhado */
  color: #007bff; /* Cor do texto */
}


.dropdown-content-skills a:hover {
  text-decoration: underline; /* Sublinha apenas ao passar o mouse */
}


.certificados a {
  color: rgb(248, 248, 248);
  text-shadow: 0px 0px 1px black;
}

.certificados a:hover {

  text-shadow: 1px 0px 3px rgb(182, 178, 181);
}
