

.page-content-Programming {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o fundo cubra 100% da altura da viewport */
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #a549e2;
  width: 100%;
  overflow: hidden;
}

.dropdown-content {
  overflow: auto;
}
.dropdown-content h2 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #ffffff9a;
  text-shadow: 0px 0px 5px black;
}

.dropdown-content a {
  text-decoration:none ;
  color: rgba(255, 255, 255, 0.404);
  text-shadow:  -1px -1px 5 black;
}

.dropdown-content a:hover {
  color: white;
}

h1 {
  text-align: center;

}
.dropdown-section {
  margin-bottom: 5px;
}

.dropdown-header {
  font-family: "Bebas Neue", sans-serif;  display: flex;
  cursor: pointer;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  color: rgba(255, 255, 255, 0.89);
  stroke: black;
  /* padding: 10px; */
  /* background-color: #333;
  color: white;
  border-radius: 5px; */
}

.dropdown-header h2 {
  margin-bottom: 5px;
  letter-spacing: 4px;
  text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,  
    -1px 1px 0 black,  
    1px 1px 0 black; /* Contorno preto */
    text-shadow: 0px 0px 10px wheat;
}

.dropdown-header h2:hover{
  text-shadow: 0px 0px 10px rgb(100, 96, 96);
}
.dropdown-content p {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  line-height: 1.5;
}


.dropdown-header svg {
  align-self: center; /* Centraliza a seta abaixo do texto */
}

.dropdown-content h3 {
  font-size: 30px; 
}