/* Navbar.css */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Para espaçar o botão e o título */
  padding: 10px;
  background-color: #333; /* Cor do fundo do navbar */
  color: white; /* Cor do texto */
}

.back-button {
  background-color: #007bff; /* Cor do botão */
  color: white; /* Cor do texto */
  border: none; /* Remover bordas */
  padding: 10px 15px; /* Espaçamento interno do botão */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Mudar o cursor ao passar o mouse */
}

.back-button:hover {
  background-color: #0056b3; /* Cor ao passar o mouse */
}
