/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');




.app-container {
  height: 100vh; /* Altura total da viewport */
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
}

.button-container {
  display: flex;
  gap: 20px;
  margin-top: 20px; /* Espaço entre o título e os botões */
}


/* Para o conteúdo das páginas de portfólio */
.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative; /* Para o botão de voltar */
  padding: 20px;
}


