@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');





body {
  margin: 0; /* Remove margens padrão */
  padding: 0; /* Remove preenchimento padrão */
  font-family: 'Montserrat', sans-serif;
}


/* Página de Portfólio */
.page-content {
  position: relative; /* Para permitir o posicionamento absoluto do botão */
  padding: 0px; /* Adicione um espaçamento se necessário */
  text-align: center; /* Centraliza todos os textos */
  min-height: 100vh; /* Garante que a página ocupe pelo menos a altura total da tela */
  display: flex; /* Usar flexbox para centralizar */
  flex-direction: column; /* Alinha os itens em coluna */
  justify-content: center; /* Centraliza verticalmente */
}



.back-button {
  font-size: 30px;
  position: absolute; /* Permite que o botão seja posicionado no canto superior esquerdo */
  top: 20px; /* Distância do topo */
  left: 20px; /* Distância da esquerda */
  color: #2a5d63; /* Cor do texto */
  border: none; /* Remover bordas */
  padding: 1px; /* Espaçamento interno do botão */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Mudar o cursor ao passar o mouse */
  text-decoration: none; /* Remove sublinhado do link */
}
.back-button:hover {
  color: whitesmoke;
}

.back-button-programming {
  font-size: 30px;
  position: absolute; /* Permite que o botão seja posicionado no canto superior esquerdo */
  top: 20px; /* Distância do topo */
  left: 20px; /* Distância da esquerda */
  color: #5f2a81; /* Cor do texto */
  border: none; /* Remover bordas */
  padding: 1px; /* Espaçamento interno do botão */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Mudar o cursor ao passar o mouse */
  text-decoration: none; /* Remove sublinhado do link */
}

.back-button-programming:hover {
  color: whitesmoke;
}
